.main-container {
  background-image: url("/assets/images/bg-desktop-light.jpg");
  background-repeat: no-repeat;
  background-color: #eee;
  height: 100vh;
  position: relative;
}

.todo-container{
  width: 500px;
  margin: 0 auto;
  position: relative;
  top: 80px;
  color: #ffffff;
}

.todo-banner {
  display: flex;
  justify-content: space-between;
  margin-bottom: 25px;
}
